
# ==========
# IDE #
# ==========
.idea/

# ==========
# NODE/NPM #
# ==========
node_modules/
npm-debug.log
yarn.lock

# ==========
# REPORTS #
# ==========
reports
report.xml
static/*.css

# ==========
# ENV #
# ==========
*.env

# ==========
# SELENIUM #
# ==========
errorShots
selenium/*.png

# ==========
# ESLINT #
# ==========
.eslintcache

# ==========
# STATICS #
# ==========
static/css
