
# ==========
# IDE #
# ==========
.idea/

# ==========
# NODE/NPM #
# ==========
node_modules/
npm-debug.log
yarn.lock

# ==========
# REPORTS #
# ==========
report.xml
static/*.css

# ==========
# ENV #
# ==========
*.env
