include Head
body
  div.content-container
    div#error-container

      div.center
        // Headline
        div#error-header
          h2.red For mange fejlede forsøg på login

        // Message
        div#error-body.center
          p=error
