include Head
body
  div.content-container
    div#error-container(tabindex="15")

      div.center
        // Headline
        div#error-header(tabindex="15")
          h2.red For mange fejlede forsøg på login

        // Message
        div#error-body.center
          p=error