extends Main

block append content
  div#profile
    div.dialog(role="document")
      div.content
        div.delete-profile-img-container
            span.banner.delete-profile-img
        div.header
          h4.title
            strong Dine godkendelser er nu slettet og du er logget ud.
        div.body
          p Næste gang du vil logge ind via Bibliotekslogin, vil du blive bedt om en ny godkendelse.
          p Luk din browser helt for at være sikker på, at du er logget ud af alle sider, hvor du har brugt Bibliotekslogin.
