include Head
body
  div.container.error-bg

    // Headline
    div.col-xs-12.col-sm-8.col-sm-offset-2
      div
        h2.red Der er sket en fejl

    // Message
    div.col-xs-12.col-sm-8.col-sm-offset-2.error-message
      p=error
      if (link)
        a.link-style(href=link.href)=link.value

