doctype html
html(lang='da')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0')
    meta(name='env' content=env)
    meta(http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1')
    meta(name='theme-color' content='#000000')
    meta(name='description' content='Adgangsplatformen..')

    title login.bib.dk

    <!-- Bootstrap included in styles -->

    <!-- Styles -->
    block styles
      link(rel='stylesheet', href='/css/styles.css?' + version)

    block scripts
      script(src="/js/ie-polyfill.js?" + version)
      script(src="/js/script.js?" + version)
      script(src="/js/error.js?" + version)
      script(src="/js/modal.js?" + version)


      script(src="/js/netpunkt.js?" + version)

      if identityProviders && identityProviders.borchk
        script(src="/js/borchk.js?" + version)


  block body
