extends Main

block append content
  div.row
    h1 Bibliotekslogin
  div
    div.row.borchk-component
      if identityProviders.borchk
        include Components/Borchk

    if identityProviders.unilogin || identityProviders.nemlogin
      div.row#external-providers

        div.buffer-hor-10
          strong Du kan også logge ind med

        div
          if identityProviders.unilogin
            include Components/Unilogin

          if identityProviders.nemlogin
            include Components/Nemlogin

          if identityProviders.wayf
            include Components/Wayf


