extends Main

block append content
  if loginToProfile
    div#profile-login Du er ved at logge ind på din profil
  div
    div.borchk-component
      if identityProviders.borchk
        include Components/Borchk

    if identityProviders.unilogin || identityProviders.nemlogin
      div#external-providers

        div.buffer-hor-10.buffer-vertical-5 Du kan også logge ind med

        div.external-providers-btn-container
          if identityProviders.unilogin
            include Components/Unilogin

          if identityProviders.nemlogin
            include Components/Nemlogin

          if identityProviders.wayf
            include Components/Wayf


  include Components/Helptext.container.pug
