extends Main

block append content
  div#login
    div.content-container
      div.top
        span(id='logo')
          include ./Components/logo
          h1 Log ind
        p Hvis du vil låne, reservere eller redigere din brugerprofil, skal du være logget ind.&#160;
          if (help && help.title && help.sections)
              include Components/Helptext.container.pug

      if identityProviders.borchk
          include Components/Borchk

      div.bottom
        if identityProvidersCount > 1

          div#external-providers

            p Andre login-muligheder

            div(id='external-providers-btn-container' class='external-providers-' + identityProvidersCount)
              if identityProviders.unilogin
                include Components/Unilogin

              if identityProviders.unilogin_oidc
                include Components/UniloginOidc

              if identityProviders.nemlogin
                include Components/Nemlogin

              if identityProviders.wayf
                include Components/Wayf
