extends Main

block append content
  div#logout
    div.content-container
      h1 Du er logget ud
      p Du er nu logget ud af #{serviceName}

      if returnurl
        a(id="returnUrl" class="link-style" href=returnurl) Tilbage til #{serviceName}
