include Head
body
  div.container
    div(class='row' id='topbar-container' aria-hidden = error ? 'true' : 'false')
      include Components/Topbar

    div.row
      div(class='col-xs-12 col-sm-10 col-sm-offset-1 content' id='content-container' aria-hidden = error ? 'true' : 'false')
        block content

    div(class='row' id='footer-container'  aria-hidden = error ? 'true' : 'false')
      include Components/Footer

    div(class='row' id='tester')

    if error
      div(class = error ? 'error-overlay' : 'error-overlay hide' id='error-overlay' aria-hidden = !error ? 'true' : 'false')
        div.container.error-bg
          div.row.error-bg
            include Components/Error
