extends Head

block append body
  body
    include Components/modal-help

    div.container
      div(id='topbar-container' aria-hidden = error ? 'true' : 'false')
        //-include Components/Topbar

      div(id='content-container' aria-hidden = error ? 'true' : 'false')
          block content

      div(id='footer-container'  aria-hidden = error ? 'true' : 'false')
        include Components/Footer

      //-if error
        //-div(class = error ? 'error-overlay' : 'error-overlay hide' id='error-overlay' aria-hidden = !error ? 'true' : 'false')
          //-div.container.error-bg
            //-div.row.error-bg
              //-include Components/Error
