extends Head

block append body
  body
    include Components/modals

    div(id='header-container'  aria-hidden = error ? 'true' : 'false')
      include Components/Header

    div(id='content-container' aria-hidden = error ? 'true' : 'false')
        block content

    if !hideFooter
      div(id='footer-container'  aria-hidden = error ? 'true' : 'false')
        include Components/Footer
