extends Head

block append body
  body
    include Components/modals

    div(id='header-container'  aria-hidden = error ? 'true' : 'false')
      include Components/Header

    div(id='header-container'  aria-hidden = error ? 'true' : 'false')
      include Components/Header

    div.container
      div(id='topbar-container' aria-hidden = error ? 'true' : 'false')
        //-include Components/Topbar

      div(id='content-container' aria-hidden = error ? 'true' : 'false')
          block content

      div(id='footer-container'  aria-hidden = error ? 'true' : 'false')
        include Components/Footer
