doctype html
html(lang='da')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0')
    meta(name='env' content=env)
    meta(http-equiv='X-UA-Compatible' content='IE=Edge,chrome=1')
    meta(name='theme-color' content='#000000')
    meta(name='description' content='Adgangsplatformen..')

    title!= title

    <!-- Bootstrap -->
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")

    <!-- Styles -->
    block styles
      link(rel='stylesheet', href='/css/globals.css?' + version)
      link(rel='stylesheet', href='/css/utils.css?' + version)
      link(rel='stylesheet', href='/css/bootstrap-overrides.css?' + version)
      link(rel='stylesheet', href='/css/borchk.css?' + version)
      link(rel='stylesheet', href='/css/topbar.css?' + version)

    block scripts
      script(src="/js/jquery-3.1.1.min.js?" + version)
      script(src="/js/bootstrap.min.js?" + version)
      script(src="/js/borchk.js?" + version)

  body
    div.container
      div.row
        include Components/Topbar
      div.col-sm-10.col-sm-offset-1.content
        block content
      div.col-sm-12
        include Components/Footer
