extends Main
block append scripts
  script(src="/js/logout.js")

block append content
  div#logout
    div.content-container
      h1 Du er ved at blive logget ud af dine bibliotekstjenester
      div#singlelogout
  div.iframes
  script var singleLogoutData = !{JSON.stringify({clients, returnurl})}
