div#borchk
  form(action=identityProviders.borchk.action method="post")
    div.form-group
      label(for="libraryid-input")
        strong Bibliotek
      input(type="text" class="form-control" id="libraryid-input" name="libraryId" data-aid="" placeholder="Vælg bibliotek" autocomplete="off")
      if agencies
        div.dropdown#libraries-dropdown-container
          ul(class="dropdown-menu libraries-dropdown" id="libraries-dropdown")
            li(class="dropdown-header hide" id="latest") Forslag
            li(class="dropdown-header hide" id="alphabetical") Alfabetisk
            each agency in agencies
              li
                a(class="agency" data-aid=agency.branchId onclick='OnClick(this)') #{agency.name}

    div.form-group
      label(for="userid-input")
        strong CPR eller lånerkortnummer
      input(type="tel" class="form-control" id="userid-input" name="userId")

    div.form-group
      label(for="pin-input")
        strong Pinkode
      input(type="tel" class="form-control" id="pin-input" name="pincode")

    div.pull-right
      a(href="#" class="buffer-right-20 link-style")
        strong Fortryd log ind
      button(type="submit" class="btn btn-success" id="borchk-submit") Log ind
