div.col-xs-2.col-xs-offset-10
  a(class="link-style" href=loginURL id='error-overlay-close-btn')
    span(class='glyphicon glyphicon-remove close-btn')

// Headline
div.col-xs-12.col-sm-8.col-sm-offset-2
  div
    h2.red Fejl i login

// Message
div.col-xs-12.col-sm-8.col-sm-offset-2.error-message
  case error
    when 'snotl'
      p Den side, du vil logge ind på, har ikke ret til at benytte bibliotekslogin. Du er derfor ikke logget ind.
    when 'sevua'
      p Vi kunne ikke få forbindelse, så du er ikke logget ind. Prøv igen senere.
    when 'linfo'
      p Det valgte bibliotek findes ikke, så du er ikke logget ind. Prøv at logge ind via et andet bibliotek.
    when 'bonal'
      p Det valgte bibliotek tillader ikke login, så du er ikke logget ind. Prøv at logge ind via et andet bibliotek.
    when 'bonfd'
      p Biblioteket kan ikke genkende brugeren med de indtastede oplysninger, så du er ikke logget ind. Tjek at alle felter er udfyldt korrekt og prøv igen.
    when 'bnimu'
      p Det ser ud til, at du ikke bor i kommunen for det valgte bibliotek. Du er derfor ikke logget ind. Prøv at logge ind via biblioteket i den kommune, hvor du bor.
    when 'bcnsl'
      p Systemet kan ikke tjekke dine oplysninger, så du er ikke logget ind. Prøv at logge ind via et andet bibliotek.
    when 'nouse'
      p Husk at udfylde feltet CPR / lånernummer og prøv igen.
    when 'fimis'
      p Det ser ud til at oplysningerne ikke er rigtige.
      p Tjek at du har udfyldt felterne korrekt og prøv igen.
    when 'erreq'
      p Det ser ud til, at de indtastede oplysninger ikke er korrekte.
    when 'unkip'
      p Der opstod en fejl som skyldes forkert konfiguration af Bibliotekslogin. Kontakt gerne en administrator på dit bibliotek og gør opmærksom på fejlen.
      script.
        console.error('Der kan ikke findes en valid identityprovider i konfigurationen i auth.dbc.dk/Smaug. Kontrollér at oplysningerne er rigtige og tag evt. kontakt til DDB/DBC.');

// Actions
div.col-xs-10.col-xs-offset-1.col-sm-6.col-sm-offset-3.buffer-top-30
  div
    a(href='#' class='buffer-right-20 link-style')
      strong Fortryd log ind
    button(type='submit' class='btn btn-grey' id='try-again-btn') Prøv igen

div.col-xs-12.buffer-top-30
  // Helptext
  include Helptext.container.pug


