// Headline
div#error-header
  a(href= preselectedId ? '/login?presel='+preselectedId : '/login' id='error-close-btn')
  h2 Noget gik galt

// Message
div#error-body
  case error
    when 'snotl'
      p Den side, du vil logge ind på, har ikke ret til at benytte bibliotekslogin. Du er derfor ikke logget ind.
    when 'sevua'
      p Vi kunne ikke få forbindelse. Prøv igen senere.
    when 'linfo'
      p Det valgte bibliotek findes ikke. Prøv at logge ind via et andet bibliotek.
    when 'bonal'
      p Det valgte bibliotek tillader ikke login. Prøv at logge ind via et andet bibliotek.
    when 'bonfd'
      p Biblioteket kan ikke genkende brugeren med de indtastede oplysninger. Tjek at alle felter er udfyldt korrekt og prøv igen.
    when 'bnimu'
      p Det ser ud til, at du ikke bor i kommunen for det valgte bibliotek. Du er derfor ikke logget ind. Prøv at logge ind via biblioteket i den kommune, hvor du bor.
    when 'bcnsl'
      p Systemet kan ikke tjekke dine oplysninger. Prøv at logge ind via et andet bibliotek.
    when 'nouse'
      p Husk at udfylde feltet CPR / lånernummer og prøv igen.
    when 'fimis'
      p Det ser ud til at oplysningerne ikke er rigtige.
      p Tjek at du har udfyldt felterne korrekt og prøv igen.
    when 'erreq'
      p Det ser ud til, at de indtastede oplysninger ikke er korrekte.
    when 'unkip'
      p Der opstod en fejl som skyldes forkert konfiguration af Bibliotekslogin. Kontakt gerne en administrator på dit bibliotek og gør opmærksom på fejlen.
      script.
        console.error('Der kan ikke findes en valid identityprovider i konfigurationen i auth.dbc.dk/Smaug. Kontrollér at oplysningerne er rigtige og tag evt. kontakt til DDB/DBC.');

  div#error-actions
    // Helptext
    include Helptext.container.pug
