div#footer
    div.content-container

      div.medias
        div.media-group
          span.media.visible
          span.media.visible
          span.media.visible
        div.media-group
          span.media.visible
          span.media.visible
          span.media.visible

      if (!info)
        div.links
          span Vi behandler dine data i overensstemmelse med vores &#160;
            a(href='/info/persondatapolitik') persondatapolitik
          span Læs mere om
            a(href='/info/cookies') vores brug af cookies
