div#footer
  div.footer-container
    div.col-xs-6.col-sm-5.col-sm-offset-1
      if (!info)
        div
          a.footer-link(href='/info/cookies' target='hjemdal-cookie') Vores brug af cookies
      if (!loginToProfile)
        div.login-profile-link
          a.footer-link(href=loginToProfileURL) Se dine godkendelser
    div.col-xs-6.col-sm-5.align-right &copy; DDB 2016
