div#footer
    div.content-container

      div.medias
        span.media
        span.media
        span.media

      if (!info)
        div.links
          span Læs mere om 
            a(href='/info/cookies' target='hjemdal-cookie') vores brug af cookies
