div#footer
    div.content-container

      div.medias
        div.media-group
          span.media.ereolen
          span.media.visible.bibliotek-dk
          span.media.ereolen-global

      if (!info)
        div.links
          span Vi behandler dine data i overensstemmelse med vores &#160;
            a(href='/info/persondatapolitik') persondatapolitik
          span Læs mere om &#160;
            a(href='/info/cookies') vores brug af cookies
