div#footer
    div.content-container

      div.medias
        div.media-group
          span.media.ereolen
          span.media.visible.bibliotek-dk
          span.media.ereolen-global

      if (!info)
        div.links
          span Læs mere om &#160;
            a(onclick='toggleModal("cookieModal")') vores brug af cookies
