block append styles
  link(rel='stylesheet', href='/css/footer.css')

div#footer.row
  div#footer--help
    p Har du brug for hjælp til at logge ind?
      a()  English

  div#footer--cookie-info
    p Vi bruger cookies til at håndtere login på tværs af bibliotekernes hjemmesider og deres online tjenester.
    p Læs om vores brug af cookies


    p Det fælles login til bibliotekerne er udviklet og drevet af DBC a/s for DDB, Danskernes Digitale Bibliotek
