div#footer
    div.content-container

      div.medias
      if (!info)
        div.links
          span Læs om &#160;
            a(class="modal-trigger" onclick='toggleModal("privacyModal")' tabindex="1" data-cy='privacy-button') vores behandling af dine personoplysninger
          span Læs mere om &#160;
            a(class="modal-trigger" onclick='toggleModal("cookieModal")' tabindex="1") vores brug af cookies
          a(class="modal-trigger" target="_blank" href="https://www.was.digst.dk/login-bib-dk" tabindex="1") Tilgængelighedserklæring
