div#dimmer(onclick='onDimmerClick()')

if(help)
  div#helpModal.modal
    div.modal-header
      button(type="button" onclick='toggleModal("helpModal")')
      h4.modal-title #{help.title}
    div.modal-body
      each section in help.sections
        div.modal-body-section
          h5 #{section.header}
          each text in section.texts
            p !{text}
