div.topbar-container
  div
    div.col-xs-6.col-sm-5.col-sm-offset-1
      span.logo-img
    div.col-xs-6.col-sm-5.align-right
      if (help && help.title && help.sections)
        if (!info)
          span.icon-question-sign.pull-right(data-toggle="modal" data-target="#helpModal")

        div.modal.fade#helpModal(role="dialog" aria-labelledby="helpModalLabel")
          div.modal-dialog(role="document")
            div.modal-content
              div.modal-header
                button.close(type="button" data-dismiss="modal" aria-label="Close")
                  span.modal-close(aria-hidden="true") &times;
                h4.modal-title
                  strong #{help.title}
              div.modal-body
                each section in help.sections
                  div
                    strong #{section.header}
                  each text in section.texts
                    div !{text}
                  div &nbsp;
