
@svg-load --svg-eye-closed url(svg/eye-closed.svg) {
  fill: black;
}

@svg-load --svg-eye-open url(svg/eye-open.svg) {
  fill: black;
}

@svg-load checkmark url(svg/checkmark.svg) {
  fill: white;
}

.libraries-dropdown {
  max-height: 200px;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.agency {
  font-size: 16px;
  :hover {
    cursor: pointer;
  }
}

.selected {
  background-color: var(--dropdown-selected-bg);
}

.hide {
  display: none;
}

.login-actions {
  margin-bottom: 50px;
  padding: 0;
}

.icon-eye-closed {
  background: svg-inline(--svg-eye-closed) no-repeat center;
}

.icon-eye-open {
  background: svg-inline(--svg-eye-open) no-repeat center;
}

.remember-me-container {
  padding-left: 0;
  display: inline-block;
  text-align: left;

  .remember {
    cursor: pointer;
  }
}

.login-buttons-container {
  padding-right: 0;
  text-align: right;
  display: inline-block;
}

.inline {
  display: inline-block;
}

input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + span {
  display: inline-block;
}

input[type="checkbox"]:checked + span:before {
  background: svg-inline(checkmark) no-repeat center;
  background-color: var(--btn-green);
  background-size: 15px 15px;
  border: none;
}

input[type="checkbox"] + span:before {
  content: " ";
  position: relative;
  margin-right: 10px;
  top: 5px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-radius: 4px;
}
