@svg-load checkmark url(svg/checkmark.svg) {
  fill: white;
}


.libraries-dropdown {
  max-height: 200px;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.agency:hover {
  cursor: pointer;
}

.selected {
  background-color: var(--dropdown-selected-bg);
}

.hide {
  display: none;
}

input[type="checkbox"] {
  display: none;
}
input[type="checkbox"] + span {
  display: inline-block;
}

input[type="checkbox"]:checked + span:before {
  background: svg-inline(checkmark) no-repeat center;
  background-color: var(--btn-green);
  background-size: 15px 15px;
  border: none;
}

input[type="checkbox"] + span:before {
  content: " ";
  position: relative;
  margin-right: 10px;
  top: 5px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid;
  border-radius: 4px;
}
