:root {
  --red: #de3733;
  --background-color-body: #f2f1ed;
  --background-color: #dfdeda;
  --dropdown-selected-bg: #f5f5f5;
  --dark-grey: #7e7c77;
  --btn-green: #007236;
  --btn-grey: #999999;
  --btn-red: #dc2829;
  --error-red: #f2dede;
}
