#footer {
  border-top: 1px solid var(--dark-grey);
  font-size: 13px;
  color: var(--dark-grey);
}

.footer-container {
  margin-top: 10px;
}

.footer-link {
  color: var(--dark-grey);
  text-decoration: underline;
}
