@import 'media.css';

#footer {
  background-color: var(--background-color);
  height: auto;

  .content-container {
    min-height: 148px;
    padding: 40px 15px 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .medias,
    .links {
      height: 50%;
    }

    .medias {
      padding: 0 0 20px 0;

      .media-group {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: auto;

        .media {
          width: 200px;
          height: 30px;
          opacity: 0;
          margin: 0 auto 20px auto;

          &.visible {
            opacity: 1;
          }

          &.ereolen {
            background: svg-inline(--ereolen) no-repeat center;
            background-size: 100px auto;
          }
          &.ereolen-global {
            background: svg-inline(--ereolen-global) no-repeat center;
            background-size: 200px auto;
          }
          &.bibliotek-dk {
            background: svg-inline(--bibliotek-dk) no-repeat center;
            background-size: 100px auto;
          }
        }
      }

      @media (min-width: 335px) {
        .media-group {
          flex-direction: row;

          .media {
            width: 100px;
            margin: 0 0 20px 0;
          }
        }
      }
      @media (min-width: 486px) {
        .media-group {
          .media {
            width: 200px;
          }
        }
      }
    }

    .links {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      align-items: center;

      span {
        text-align: center;
        padding: 5px 0;
      }

      span,
      a {
        color: var(--grey-lighten-1);
      }
    }
  }
  @media (min-width: 500px) {
    .content-container {
      padding: 40px 0px;
    }
  }
}
