@svg-load --biblotekslogin-logo url(svg/icons/caret.svg) {
  fill: black;
}

@svg-load --eye-open url(svg/icons/eye_large.svg) {
  fill: black;
}

@svg-load --eye-closed url(svg/icons/eye_large_hidden.svg) {
  fill: black;
}

#footer {
  background-color: var(--background-color);
  height: 148px;

  .content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .medias,
    .links {
      display: flex;
      height: 50%;
    }

    .medias {
      justify-content: space-between;
      align-items: flex-end;

      .media {
        width: 100px;
        height: 30px;
        background-color: var(--error);
        padding: 12px 20px;
      }
    }

    .links {
      justify-content: space-around;
      align-items: center;

      span,
      a {
        color: var(--grey-lighten-1);
      }
    }
  }
}
