html, body {
  height: 100%;
  background-color: var(--background-color-body);
}

.link-style {
  cursor: pointer;
  color: black;
  text-decoration: underline;
}

.link-style:hover {
  color: black;
}

.btn-grey {
  width: 100px;
  background-color: white;
}

.icon-btn {
  display: block;
  height: 20px;
  width: 26px;
}

.content {
  margin-top: 20px;
  z-index: 1;
  margin-bottom: 50px;
}

.hasfocus {
  border: none;
  border-radius: 0;
  background-color: transparent;
  border-bottom: solid var(--dark-grey) 2px;
}

input[type="password"] {
  &.form-control {
    font-size: 20px;
    letter-spacing: 1px;
  }
}
