html, body {
  height: 100%;
}

.borchk-component {
  margin-bottom: 50px;
}

.link-style {
  cursor: pointer;
  color: black;
  text-decoration: underline;
}

.link-style:hover {
  color: black;
}

#external-providers {
  margin-bottom: 50px;
}

.btn-grey {
  width: 100px;
  color: white;
  background-color: var(--btn-grey);
}

.content {
  margin-top: 20px;
  z-index: 1;
}

.hasfocus {
  border: none;
  border-radius: 0;
  background-color: transparent;
  border-bottom: solid var(--dark-grey) 2px;
}
