html, body {
  height: 100%;
}

.borchk-component {
  margin-bottom: 50px;
}

.link-style {
  color: black;
  text-decoration: underline;
}

.link-style:hover {
  color: black;
}

#external-providers {
  margin-bottom: 50px;
}

.btn-grey {
  background-color: #f6f6f6
}

.content {
  margin-top: 20px;
}
