#logout {
  .content-container {
    padding-top: 30px;
    h1 {
      color: var(--black-lighten-1);
      font-size: 30px;
      line-height: 34px;
      font-weight: lighter;
    }
    p {
      margin: 20px 0 20px 0;
    }
    a {
      font-size: 12px;
      color: var(--grey-lighten-1);
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
