@svg-load --ereolen url(svg/media/ereolen.svg) {
  fill: var(--black-lighten-1);
}

@svg-load --ereolen-global url(svg/media/ereolen_global.svg) {
  fill: var(--black-lighten-1);
}

@svg-load --bibliotek-dk url(svg/media/bibliotek_dk.svg) {
  fill: var(--black-lighten-1);
}
