#netpunkt {
  #helptext-link {
    display: none !important;
  }

  .form-group {
    .input-prefix {
      width: 50px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      font-weight: bold;
      border-right: 1px solid var(--grey-lighten-4);
    }

    #user-input {
      width: 100%;
    }
  }
}
