@svg-load --logo url(svg/bibliotekslogin_logo.svg) {
  fill: white;
}

@svg-load --svg-help-icon url(svg/help.svg) {
  fill: white;
}

.logo-img {
  display: block;
  background: svg-inline(--logo) no-repeat center;
  width: 200px;
  height: 50px;
  margin-top: 5px;
}

.topbar-container {
  display: block;
  height: 50px;
  background-color: var(--dark-grey);
}

.icon-question-sign {
  margin-top: 11px;
  display: block;
  height: 30px;
  width: 30px;
  background: svg-inline(--svg-help-icon) no-repeat center;
  fill: white;
}

.modal-header {
  border-bottom: 0;
  padding: 1em 15px 0 15px;
}

.modal-title, .modal-body {
  text-align: left;
}

.modal-close, .modal-title {
  font-size: 1.5em;
}

.modal-body {
  font-size: 1.1em;
}
