@svg-load unilogin url(svg/services/uni-login.svg) {
  fill: black;
}

.unilogin-img {
  display: block;
  margin-top: 3px;
  background: svg-inline(unilogin) no-repeat center;
  width: 70px;
  height: 20px;
}
