@svg-load unilogin url(svg/services/Unilogin.svg) {
  fill: black;
}

.unilogin-img {
  display: block;
  margin-top: 3px;
  background: svg-inline(unilogin) no-repeat center;
  width: 90px;
  height: 20px;
}
