.buffer-right-20 {
  margin-right: 20px;
}

.buffer-vertical-5 {
  margin-bottom: 5px;
}

.buffer-vertical-10 {
  margin-bottom: 10px;
}

.align-right{
  text-align: right;
}

.center-text {
  text-align: center;
}
