.buffer-right-20 {
  margin-right: 20px;
}

.buffer-vertical-5 {
  margin-bottom: 5px;
}

.buffer-vertical-10 {
  margin-bottom: 10px;
}

.buffer-vertical-50 {
  margin-bottom: 50px;
}

.buffer-top-5 {
  margin-top: 5px;
}

.buffer-top-30 {
  margin-top: 30px;
}

.align-right {
  text-align: right;
}

.center-text {
  text-align: center;
}

.red {
  color: var(--red);
}
