div(id="helpModal" class="modal" aria-hidden="true")
  div.modal-header
    button(type="button" tabindex="-1" onclick='toggleModal("helpModal")')
    h2.modal-title #{help.title}
  div(class="modal-body" tabindex="-1")
    each section in help.sections
      if(!(lockedAgency && section.header == 'Bibliotek'))
        div.modal-body-section
          if(section.header)
            h3 #{section.header}
          each text in section.texts
            p !{text}
