div(id="cookieModal" class="modal" aria-hidden="true")
  div.modal-header
    button(type="button" tabindex="2" onclick='toggleModal("cookieModal")')
    h2.modal-title #{cookie.title}
  div(class="modal-body" tabindex="2")
    each section in cookie.sections
      div.modal-body-section
        if(section.header)
          h3 #{section.header}
        each text in section.texts
          p !{text}
