script.
  document.addEventListener('DOMContentLoaded', function() {

    const identityErrorText = {
      ILLEGAL_AGENCYID: 'Ukendt Biblioteksnummer',
      ILLEGAL_AGENCYID_REVERSED: 'Ukendt Biblioteksnummer',
      ILLEGAL_AGENCYID_MISSING: 'Ukendt Biblioteksnummer',
      ILLEGAL_ACCESSPROFILE_MISSING: 'Ukendt Biblioteksnummer, Bruger Id eller Adgangskode',
      ILLEGAL_INVALID_USER: 'Ukendt Biblioteksnummer, Bruger Id eller Adgangskode'
    }
    const passwordErrorText = {
      TOO_SHORT: 'Den nye adgangskode er for kort',
      ILLEGAL_QWERTY_SEQUENCE: 'Adgangskoden er for simpel - ikke tilladt rækkefølge af tegn',
      ILLEGAL_NUMERICAL_SEQUENCE: 'Adgangskoden er for simpel - ikke tilladt rækkefølge af cifre',
      ILLEGAL_ALPHABETICAL_SEQUENCE: 'Adgangskoden er for simpel - ikke tilladt rækkefølge af tegn',
      ILLEGAL_PASSWORD_REUSE: 'Adgangskoden er brugt tidligere'
    }
    var activeErrorField = '';
    var identityChangePasswordInput = document.getElementById('identityChangePassword');
    var agencyIdChangePasswordInput = document.getElementById('agencyIdChangePassword');
    var currPassInput = document.getElementById('currPass');
    var newPassInput = document.getElementById('newPass');
    var checkPassInput = document.getElementById('checkPass');
    var messageContainerPwChange = document.getElementById('change-pw-message-container');
    var responseMessagePwChange = document.getElementById('change-pw-response-message');
    var closeButton = document.querySelector('.changePw-close-button');

    if (closeButton) {
      closeButton.addEventListener('click', function(e) {
        messageContainerPwChange.style.display = "none";
      });
    }

    document.getElementById('changepw-form').addEventListener('submit', function(e) {
      e.preventDefault();
      if (activeErrorField) {
        document.getElementById(activeErrorField).textContent = '';
        activeErrorField = '';
      }
      if (changePwSubmit(e)) {
        var data = {
          'agencyId': agencyIdChangePasswordInput.value,
          'identity': identityChangePasswordInput.value,
          'currPass': currPassInput.value,
          'newPass': newPassInput.value
        };
        console.log('change data', data);

        fetch('/changepassword', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        })
        .then(response => response.json())
        .then(data => {
          console.log('change result data', data);
          if (data.message !== 'OK200') {
            var errorMessage = data.message.split(',');
            let passwordMsg = [];
            errorMessage.forEach((err) => {
              if (passwordErrorText[err]) passwordMsg.push(passwordErrorText[err]);
            });
            let identityMsg = [];
            errorMessage.forEach((err) => {
              if (identityErrorText[err]) identityMsg.push(identityErrorText[err]);
            });
            if (passwordMsg.length) {
              activeErrorField = 'newPass-text';
              document.getElementById(activeErrorField).textContent = passwordMsg.join('; ');
              document.getElementById(activeErrorField).style.color = 'var(--error)';
              newPassInput.focus();
            }
            else if (identityMsg.length) {
              activeErrorField = 'agencyIdChangePassword-text';
              document.getElementById(activeErrorField).textContent = identityMsg.join('; ')
              document.getElementById(activeErrorField).style.color = 'var(--error)';
              agencyIdChangePasswordInput.focus();
            }
            else {
              responseMessagePwChange.textContent = 'Noget gik galt. Adgangskoden er ikke ændret (' + errorMessage.join('; ') + ')';
              messageContainerPwChange.style.display = 'block';
              messageContainerPwChange.style.color = 'var(--error)';
              agencyIdChangePasswordInput.focus();
            }
          }
          else {
            agencyIdChangePasswordInput.value = '';
            identityChangePasswordInput.value = '';
            currPassInput.value = '';
            newPassInput.value = '';
            checkPassInput.value = '';
            toggleModal('changeModal');
            var messageContainer = document.getElementById('message-container');
            var responseMessage = document.getElementById('response-message');
            responseMessage.textContent = 'Adgangskoden er ændret.'
            messageContainer.style.display = "block";
          }
        })
        .catch(error => {
          console.error('Error:', error);
        });
      }
    });
  });

div(id="infoModal" class="modal info-modal infoChangePw" aria-hidden="true")
  div.changePw-header
    button(type="button" tabindex="51" onclick='toggleModal("infoModal"), toggleModal("changeModal")')
  div.changePw-body
    h1 Vælg en sikker adgangskode
    div#netpunkt
      p
      ul.form-group
        li Adgangskoden skal være på min. 15 tegn.
        li Adgangskoden må ikke indeholde sekvenser på 4 tal eller mere, fx 1234, 12345.
        li Visse tegn og bogstav sekvenser er udelukket, fx qwer eller abcd, abcde.
        li Ord som ‘password’ og andre ofte anvendte ord, kan ikke bruges.
        li Tidligere brugte adgangskoder, kan ikke bruges igen.

div(id="changeModal" class="modal changePw" aria-hidden="true")
  div.changePw-header
    button(type="button" tabindex="51" onclick='toggleModal("changeModal")')

  div.changePw-body
    span(id='logo' class='')
      include ../../Components/logo
      h1 Skift adgangskode
    div#netpunkt
      div#change-pw-message-container.changePw-message-container
        div.changePw-close-button X
        div#change-pw-response-message
      form(autocomplete='off' method='post' id='changepw-form')
        div.form-group
          label(for='agencyIdChangePassword')  Biblioteksnummer*
          div.input-container
            div(class='input-prefix' tabindex="-1") DK-
            input(type='text' class='form-control' id='agencyIdChangePassword' placeholder='Bibliotekskode - 6 cifre' data-cy='agencyIdChangePassword' name='agencyIdChangePassword' tabindex='50' required)
          span(id='agencyIdChangePassword-text' data-text='')

        div.form-group
          label(for='identityChangePassword') Bruger ID*
          div.input-container
            input(type='text' class='form-control' id='identityChangePassword' placeholder='' data-cy='identityChangePassword' name='identityChangePassword' tabindex='50' required)
          span(id='identityChangePassword-text' data-text='')

        div.form-group
          label(for='currPass') Nuværende adgangskode*
          div.input-container
            input(type='password' class='form-control' id='currPass' placeholder='Eksisterende kodeord' data-cy='currPass' name='currPass' tabindex='50' required)
          span(id='currPass-text' data-text='')

        div.form-group
          label(for='newPass') Ny adgangskode*
            div.other-actionsa(class='modal-trigger info-circle' id='info' data-cy='infoPw' onclick='toggleModal("infoModal", "open")' tabindex='0' )
          div.input-container
            input(type='text' class='form-control' id='newPass' placeholder='Nyt kodeord - minimum 15 tegn' data-cy='newPass' name='newPass' tabindex='50' required)
          span(id='newPass-text' data-text='test newPass-text')

        div.form-group
          label(for='checkPass') Gentag ny adgangskode*
          div.input-container
            input(type='text' class='form-control' id='checkPass' placeholder='Gentag nyt kodeord' data-cy='checkPass' name='checkPass' tabindex='50' required)
          span(id='checkPass-text' data-text='')

          div.required * Påkrævet

          if error
            div#error-container(tabindex="15")
              include ../../Components/Error

        div.action-container
          button(type='submit' id='changepw-submit' data-cy='changepw-submit' tabindex='50' style=btnStyle onmouseover=btnOnmouseover onmouseout=btnOnmouseout) Skift adgangskode
        div.changePw-note.bottom-space
          | Har du glemt dit bruger ID? Kun brugere med personligt login kan ændre adgangskode her. Kontakt din biblioteksadministrator eller&nbsp;
          a(href='http://kundeservice.dbc.dk' target='_blank' tabindex='50') DBCs kundeservice.

