div#privacyModal.modal
  div.modal-header
    button(type="button" onclick='toggleModal("privacyModal")')
    h4.modal-title #{privacyPolicy.title}
  div.modal-body
    each section in privacyPolicy.sections
      div.modal-body-section
        if(section.header)
          h5 #{section.header}
        each text in section.texts
          p !{text}
